/* CSS Document */

/*Para poner el +New al lado del menu PM*/
.bbLinkWrapper .newPipeline {
	position: absolute;
	top: 0px;
	right: -4px;
}

/*Para poner el icono al lado del menu PM*/
.bentoBoxIndicator {
	height: 16px;
	width: 16px;
	position: absolute;
	z-index: 0;
	background: transparent url(../images/webstoreIcon48.png) no-repeat;
	opacity: 0.55;
}